/*
 * Items API V1
 * Items API
 *
 * OpenAPI spec version: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package io.swagger.client.api;

import io.swagger.client.ApiCallback;
import io.swagger.client.ApiClient;
import io.swagger.client.ApiException;
import io.swagger.client.ApiResponse;
import io.swagger.client.Configuration;
import io.swagger.client.Pair;
import io.swagger.client.ProgressRequestBody;
import io.swagger.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import io.swagger.client.model.CreateItemReq;
import io.swagger.client.model.CreateItemResp;
import io.swagger.client.model.Error;
import io.swagger.client.model.GetItemDetailsResp;
import io.swagger.client.model.UpdateItemReq;
import io.swagger.client.model.UpdateItemResp;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class ItemsApi {
    private ApiClient apiClient;

    public ItemsApi() {
        this(Configuration.getDefaultApiClient());
    }

    public ItemsApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for itemsIdGet
     * @param id description of parameter passed (required)
     * @param entityId description of parameter passed (required)
     * @param clientURN description of parameter passed (required)
     * @param applianceToken description of parameter passed (required)
     * @param systemCode description of parameter passed (required)
     * @param countryCode description of parameter passed (required)
     * @param clientCode description of parameter passed (required)
     * @param clientGroupCode description of parameter passed (required)
     * @param channelCode description of parameter passed (required)
     * @param clientUserId description of parameter passed (required)
     * @param clientPassword description of parameter passed (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call itemsIdGetCall(String id, String entityId, String clientURN, String applianceToken, String systemCode, String countryCode, String clientCode, String clientGroupCode, String channelCode, String clientUserId, String clientPassword, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/items/{id}"
            .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(id.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (entityId != null)
        localVarHeaderParams.put("entityId", apiClient.parameterToString(entityId));
        if (clientURN != null)
        localVarHeaderParams.put("clientURN", apiClient.parameterToString(clientURN));
        if (applianceToken != null)
        localVarHeaderParams.put("applianceToken", apiClient.parameterToString(applianceToken));
        if (systemCode != null)
        localVarHeaderParams.put("systemCode", apiClient.parameterToString(systemCode));
        if (countryCode != null)
        localVarHeaderParams.put("countryCode", apiClient.parameterToString(countryCode));
        if (clientCode != null)
        localVarHeaderParams.put("clientCode", apiClient.parameterToString(clientCode));
        if (clientGroupCode != null)
        localVarHeaderParams.put("clientGroupCode", apiClient.parameterToString(clientGroupCode));
        if (channelCode != null)
        localVarHeaderParams.put("channelCode", apiClient.parameterToString(channelCode));
        if (clientUserId != null)
        localVarHeaderParams.put("clientUserId", apiClient.parameterToString(clientUserId));
        if (clientPassword != null)
        localVarHeaderParams.put("clientPassword", apiClient.parameterToString(clientPassword));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "BasicAuth" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call itemsIdGetValidateBeforeCall(String id, String entityId, String clientURN, String applianceToken, String systemCode, String countryCode, String clientCode, String clientGroupCode, String channelCode, String clientUserId, String clientPassword, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'id' is set
        if (id == null) {
            throw new ApiException("Missing the required parameter 'id' when calling itemsIdGet(Async)");
        }
        // verify the required parameter 'entityId' is set
        if (entityId == null) {
            throw new ApiException("Missing the required parameter 'entityId' when calling itemsIdGet(Async)");
        }
        // verify the required parameter 'clientURN' is set
        if (clientURN == null) {
            throw new ApiException("Missing the required parameter 'clientURN' when calling itemsIdGet(Async)");
        }
        // verify the required parameter 'applianceToken' is set
        if (applianceToken == null) {
            throw new ApiException("Missing the required parameter 'applianceToken' when calling itemsIdGet(Async)");
        }
        // verify the required parameter 'systemCode' is set
        if (systemCode == null) {
            throw new ApiException("Missing the required parameter 'systemCode' when calling itemsIdGet(Async)");
        }
        // verify the required parameter 'countryCode' is set
        if (countryCode == null) {
            throw new ApiException("Missing the required parameter 'countryCode' when calling itemsIdGet(Async)");
        }
        // verify the required parameter 'clientCode' is set
        if (clientCode == null) {
            throw new ApiException("Missing the required parameter 'clientCode' when calling itemsIdGet(Async)");
        }
        // verify the required parameter 'clientGroupCode' is set
        if (clientGroupCode == null) {
            throw new ApiException("Missing the required parameter 'clientGroupCode' when calling itemsIdGet(Async)");
        }
        // verify the required parameter 'channelCode' is set
        if (channelCode == null) {
            throw new ApiException("Missing the required parameter 'channelCode' when calling itemsIdGet(Async)");
        }
        // verify the required parameter 'clientUserId' is set
        if (clientUserId == null) {
            throw new ApiException("Missing the required parameter 'clientUserId' when calling itemsIdGet(Async)");
        }
        // verify the required parameter 'clientPassword' is set
        if (clientPassword == null) {
            throw new ApiException("Missing the required parameter 'clientPassword' when calling itemsIdGet(Async)");
        }
        
        com.squareup.okhttp.Call call = itemsIdGetCall(id, entityId, clientURN, applianceToken, systemCode, countryCode, clientCode, clientGroupCode, channelCode, clientUserId, clientPassword, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Get a Single Item details by passing it&#x27;s ID
     * get Item details by Id
     * @param id description of parameter passed (required)
     * @param entityId description of parameter passed (required)
     * @param clientURN description of parameter passed (required)
     * @param applianceToken description of parameter passed (required)
     * @param systemCode description of parameter passed (required)
     * @param countryCode description of parameter passed (required)
     * @param clientCode description of parameter passed (required)
     * @param clientGroupCode description of parameter passed (required)
     * @param channelCode description of parameter passed (required)
     * @param clientUserId description of parameter passed (required)
     * @param clientPassword description of parameter passed (required)
     * @return GetItemDetailsResp
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public GetItemDetailsResp itemsIdGet(String id, String entityId, String clientURN, String applianceToken, String systemCode, String countryCode, String clientCode, String clientGroupCode, String channelCode, String clientUserId, String clientPassword) throws ApiException {
        ApiResponse<GetItemDetailsResp> resp = itemsIdGetWithHttpInfo(id, entityId, clientURN, applianceToken, systemCode, countryCode, clientCode, clientGroupCode, channelCode, clientUserId, clientPassword);
        return resp.getData();
    }

    /**
     * Get a Single Item details by passing it&#x27;s ID
     * get Item details by Id
     * @param id description of parameter passed (required)
     * @param entityId description of parameter passed (required)
     * @param clientURN description of parameter passed (required)
     * @param applianceToken description of parameter passed (required)
     * @param systemCode description of parameter passed (required)
     * @param countryCode description of parameter passed (required)
     * @param clientCode description of parameter passed (required)
     * @param clientGroupCode description of parameter passed (required)
     * @param channelCode description of parameter passed (required)
     * @param clientUserId description of parameter passed (required)
     * @param clientPassword description of parameter passed (required)
     * @return ApiResponse&lt;GetItemDetailsResp&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<GetItemDetailsResp> itemsIdGetWithHttpInfo(String id, String entityId, String clientURN, String applianceToken, String systemCode, String countryCode, String clientCode, String clientGroupCode, String channelCode, String clientUserId, String clientPassword) throws ApiException {
        com.squareup.okhttp.Call call = itemsIdGetValidateBeforeCall(id, entityId, clientURN, applianceToken, systemCode, countryCode, clientCode, clientGroupCode, channelCode, clientUserId, clientPassword, null, null);
        Type localVarReturnType = new TypeToken<GetItemDetailsResp>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get a Single Item details by passing it&#x27;s ID (asynchronously)
     * get Item details by Id
     * @param id description of parameter passed (required)
     * @param entityId description of parameter passed (required)
     * @param clientURN description of parameter passed (required)
     * @param applianceToken description of parameter passed (required)
     * @param systemCode description of parameter passed (required)
     * @param countryCode description of parameter passed (required)
     * @param clientCode description of parameter passed (required)
     * @param clientGroupCode description of parameter passed (required)
     * @param channelCode description of parameter passed (required)
     * @param clientUserId description of parameter passed (required)
     * @param clientPassword description of parameter passed (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call itemsIdGetAsync(String id, String entityId, String clientURN, String applianceToken, String systemCode, String countryCode, String clientCode, String clientGroupCode, String channelCode, String clientUserId, String clientPassword, final ApiCallback<GetItemDetailsResp> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = itemsIdGetValidateBeforeCall(id, entityId, clientURN, applianceToken, systemCode, countryCode, clientCode, clientGroupCode, channelCode, clientUserId, clientPassword, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<GetItemDetailsResp>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for itemsIdPut
     * @param body  (required)
     * @param entityId description of parameter passed (required)
     * @param clientURN description of parameter passed (required)
     * @param applianceToken description of parameter passed (required)
     * @param systemCode description of parameter passed (required)
     * @param countryCode description of parameter passed (required)
     * @param clientCode description of parameter passed (required)
     * @param clientGroupCode description of parameter passed (required)
     * @param channelCode description of parameter passed (required)
     * @param clientUserId description of parameter passed (required)
     * @param clientPassword description of parameter passed (required)
     * @param id description of parameter passed (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call itemsIdPutCall(UpdateItemReq body, String entityId, String clientURN, String applianceToken, String systemCode, String countryCode, String clientCode, String clientGroupCode, String channelCode, String clientUserId, String clientPassword, String id, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;
        
        // create path and map variables
        String localVarPath = "/items/{id}"
            .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(id.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (entityId != null)
        localVarHeaderParams.put("entityId", apiClient.parameterToString(entityId));
        if (clientURN != null)
        localVarHeaderParams.put("clientURN", apiClient.parameterToString(clientURN));
        if (applianceToken != null)
        localVarHeaderParams.put("applianceToken", apiClient.parameterToString(applianceToken));
        if (systemCode != null)
        localVarHeaderParams.put("systemCode", apiClient.parameterToString(systemCode));
        if (countryCode != null)
        localVarHeaderParams.put("countryCode", apiClient.parameterToString(countryCode));
        if (clientCode != null)
        localVarHeaderParams.put("clientCode", apiClient.parameterToString(clientCode));
        if (clientGroupCode != null)
        localVarHeaderParams.put("clientGroupCode", apiClient.parameterToString(clientGroupCode));
        if (channelCode != null)
        localVarHeaderParams.put("channelCode", apiClient.parameterToString(channelCode));
        if (clientUserId != null)
        localVarHeaderParams.put("clientUserId", apiClient.parameterToString(clientUserId));
        if (clientPassword != null)
        localVarHeaderParams.put("clientPassword", apiClient.parameterToString(clientPassword));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "BasicAuth" };
        return apiClient.buildCall(localVarPath, "PUT", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call itemsIdPutValidateBeforeCall(UpdateItemReq body, String entityId, String clientURN, String applianceToken, String systemCode, String countryCode, String clientCode, String clientGroupCode, String channelCode, String clientUserId, String clientPassword, String id, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling itemsIdPut(Async)");
        }
        // verify the required parameter 'entityId' is set
        if (entityId == null) {
            throw new ApiException("Missing the required parameter 'entityId' when calling itemsIdPut(Async)");
        }
        // verify the required parameter 'clientURN' is set
        if (clientURN == null) {
            throw new ApiException("Missing the required parameter 'clientURN' when calling itemsIdPut(Async)");
        }
        // verify the required parameter 'applianceToken' is set
        if (applianceToken == null) {
            throw new ApiException("Missing the required parameter 'applianceToken' when calling itemsIdPut(Async)");
        }
        // verify the required parameter 'systemCode' is set
        if (systemCode == null) {
            throw new ApiException("Missing the required parameter 'systemCode' when calling itemsIdPut(Async)");
        }
        // verify the required parameter 'countryCode' is set
        if (countryCode == null) {
            throw new ApiException("Missing the required parameter 'countryCode' when calling itemsIdPut(Async)");
        }
        // verify the required parameter 'clientCode' is set
        if (clientCode == null) {
            throw new ApiException("Missing the required parameter 'clientCode' when calling itemsIdPut(Async)");
        }
        // verify the required parameter 'clientGroupCode' is set
        if (clientGroupCode == null) {
            throw new ApiException("Missing the required parameter 'clientGroupCode' when calling itemsIdPut(Async)");
        }
        // verify the required parameter 'channelCode' is set
        if (channelCode == null) {
            throw new ApiException("Missing the required parameter 'channelCode' when calling itemsIdPut(Async)");
        }
        // verify the required parameter 'clientUserId' is set
        if (clientUserId == null) {
            throw new ApiException("Missing the required parameter 'clientUserId' when calling itemsIdPut(Async)");
        }
        // verify the required parameter 'clientPassword' is set
        if (clientPassword == null) {
            throw new ApiException("Missing the required parameter 'clientPassword' when calling itemsIdPut(Async)");
        }
        // verify the required parameter 'id' is set
        if (id == null) {
            throw new ApiException("Missing the required parameter 'id' when calling itemsIdPut(Async)");
        }
        
        com.squareup.okhttp.Call call = itemsIdPutCall(body, entityId, clientURN, applianceToken, systemCode, countryCode, clientCode, clientGroupCode, channelCode, clientUserId, clientPassword, id, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * 
     * updates an item by Id
     * @param body  (required)
     * @param entityId description of parameter passed (required)
     * @param clientURN description of parameter passed (required)
     * @param applianceToken description of parameter passed (required)
     * @param systemCode description of parameter passed (required)
     * @param countryCode description of parameter passed (required)
     * @param clientCode description of parameter passed (required)
     * @param clientGroupCode description of parameter passed (required)
     * @param channelCode description of parameter passed (required)
     * @param clientUserId description of parameter passed (required)
     * @param clientPassword description of parameter passed (required)
     * @param id description of parameter passed (required)
     * @return UpdateItemResp
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public UpdateItemResp itemsIdPut(UpdateItemReq body, String entityId, String clientURN, String applianceToken, String systemCode, String countryCode, String clientCode, String clientGroupCode, String channelCode, String clientUserId, String clientPassword, String id) throws ApiException {
        ApiResponse<UpdateItemResp> resp = itemsIdPutWithHttpInfo(body, entityId, clientURN, applianceToken, systemCode, countryCode, clientCode, clientGroupCode, channelCode, clientUserId, clientPassword, id);
        return resp.getData();
    }

    /**
     * 
     * updates an item by Id
     * @param body  (required)
     * @param entityId description of parameter passed (required)
     * @param clientURN description of parameter passed (required)
     * @param applianceToken description of parameter passed (required)
     * @param systemCode description of parameter passed (required)
     * @param countryCode description of parameter passed (required)
     * @param clientCode description of parameter passed (required)
     * @param clientGroupCode description of parameter passed (required)
     * @param channelCode description of parameter passed (required)
     * @param clientUserId description of parameter passed (required)
     * @param clientPassword description of parameter passed (required)
     * @param id description of parameter passed (required)
     * @return ApiResponse&lt;UpdateItemResp&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<UpdateItemResp> itemsIdPutWithHttpInfo(UpdateItemReq body, String entityId, String clientURN, String applianceToken, String systemCode, String countryCode, String clientCode, String clientGroupCode, String channelCode, String clientUserId, String clientPassword, String id) throws ApiException {
        com.squareup.okhttp.Call call = itemsIdPutValidateBeforeCall(body, entityId, clientURN, applianceToken, systemCode, countryCode, clientCode, clientGroupCode, channelCode, clientUserId, clientPassword, id, null, null);
        Type localVarReturnType = new TypeToken<UpdateItemResp>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * updates an item by Id
     * @param body  (required)
     * @param entityId description of parameter passed (required)
     * @param clientURN description of parameter passed (required)
     * @param applianceToken description of parameter passed (required)
     * @param systemCode description of parameter passed (required)
     * @param countryCode description of parameter passed (required)
     * @param clientCode description of parameter passed (required)
     * @param clientGroupCode description of parameter passed (required)
     * @param channelCode description of parameter passed (required)
     * @param clientUserId description of parameter passed (required)
     * @param clientPassword description of parameter passed (required)
     * @param id description of parameter passed (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call itemsIdPutAsync(UpdateItemReq body, String entityId, String clientURN, String applianceToken, String systemCode, String countryCode, String clientCode, String clientGroupCode, String channelCode, String clientUserId, String clientPassword, String id, final ApiCallback<UpdateItemResp> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = itemsIdPutValidateBeforeCall(body, entityId, clientURN, applianceToken, systemCode, countryCode, clientCode, clientGroupCode, channelCode, clientUserId, clientPassword, id, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<UpdateItemResp>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for itemsPost
     * @param body  (required)
     * @param entityId description of parameter passed (required)
     * @param clientURN description of parameter passed (required)
     * @param applianceToken description of parameter passed (required)
     * @param systemCode description of parameter passed (required)
     * @param countryCode description of parameter passed (required)
     * @param clientCode description of parameter passed (required)
     * @param clientGroupCode description of parameter passed (required)
     * @param channelCode description of parameter passed (required)
     * @param clientUserId description of parameter passed (required)
     * @param clientPassword description of parameter passed (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call itemsPostCall(CreateItemReq body, String entityId, String clientURN, String applianceToken, String systemCode, String countryCode, String clientCode, String clientGroupCode, String channelCode, String clientUserId, String clientPassword, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;
        
        // create path and map variables
        String localVarPath = "/items";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (entityId != null)
        localVarHeaderParams.put("entityId", apiClient.parameterToString(entityId));
        if (clientURN != null)
        localVarHeaderParams.put("clientURN", apiClient.parameterToString(clientURN));
        if (applianceToken != null)
        localVarHeaderParams.put("applianceToken", apiClient.parameterToString(applianceToken));
        if (systemCode != null)
        localVarHeaderParams.put("systemCode", apiClient.parameterToString(systemCode));
        if (countryCode != null)
        localVarHeaderParams.put("countryCode", apiClient.parameterToString(countryCode));
        if (clientCode != null)
        localVarHeaderParams.put("clientCode", apiClient.parameterToString(clientCode));
        if (clientGroupCode != null)
        localVarHeaderParams.put("clientGroupCode", apiClient.parameterToString(clientGroupCode));
        if (channelCode != null)
        localVarHeaderParams.put("channelCode", apiClient.parameterToString(channelCode));
        if (clientUserId != null)
        localVarHeaderParams.put("clientUserId", apiClient.parameterToString(clientUserId));
        if (clientPassword != null)
        localVarHeaderParams.put("clientPassword", apiClient.parameterToString(clientPassword));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "BasicAuth" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call itemsPostValidateBeforeCall(CreateItemReq body, String entityId, String clientURN, String applianceToken, String systemCode, String countryCode, String clientCode, String clientGroupCode, String channelCode, String clientUserId, String clientPassword, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling itemsPost(Async)");
        }
        // verify the required parameter 'entityId' is set
        if (entityId == null) {
            throw new ApiException("Missing the required parameter 'entityId' when calling itemsPost(Async)");
        }
        // verify the required parameter 'clientURN' is set
        if (clientURN == null) {
            throw new ApiException("Missing the required parameter 'clientURN' when calling itemsPost(Async)");
        }
        // verify the required parameter 'applianceToken' is set
        if (applianceToken == null) {
            throw new ApiException("Missing the required parameter 'applianceToken' when calling itemsPost(Async)");
        }
        // verify the required parameter 'systemCode' is set
        if (systemCode == null) {
            throw new ApiException("Missing the required parameter 'systemCode' when calling itemsPost(Async)");
        }
        // verify the required parameter 'countryCode' is set
        if (countryCode == null) {
            throw new ApiException("Missing the required parameter 'countryCode' when calling itemsPost(Async)");
        }
        // verify the required parameter 'clientCode' is set
        if (clientCode == null) {
            throw new ApiException("Missing the required parameter 'clientCode' when calling itemsPost(Async)");
        }
        // verify the required parameter 'clientGroupCode' is set
        if (clientGroupCode == null) {
            throw new ApiException("Missing the required parameter 'clientGroupCode' when calling itemsPost(Async)");
        }
        // verify the required parameter 'channelCode' is set
        if (channelCode == null) {
            throw new ApiException("Missing the required parameter 'channelCode' when calling itemsPost(Async)");
        }
        // verify the required parameter 'clientUserId' is set
        if (clientUserId == null) {
            throw new ApiException("Missing the required parameter 'clientUserId' when calling itemsPost(Async)");
        }
        // verify the required parameter 'clientPassword' is set
        if (clientPassword == null) {
            throw new ApiException("Missing the required parameter 'clientPassword' when calling itemsPost(Async)");
        }
        
        com.squareup.okhttp.Call call = itemsPostCall(body, entityId, clientURN, applianceToken, systemCode, countryCode, clientCode, clientGroupCode, channelCode, clientUserId, clientPassword, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * 
     * creates Item
     * @param body  (required)
     * @param entityId description of parameter passed (required)
     * @param clientURN description of parameter passed (required)
     * @param applianceToken description of parameter passed (required)
     * @param systemCode description of parameter passed (required)
     * @param countryCode description of parameter passed (required)
     * @param clientCode description of parameter passed (required)
     * @param clientGroupCode description of parameter passed (required)
     * @param channelCode description of parameter passed (required)
     * @param clientUserId description of parameter passed (required)
     * @param clientPassword description of parameter passed (required)
     * @return CreateItemResp
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public CreateItemResp itemsPost(CreateItemReq body, String entityId, String clientURN, String applianceToken, String systemCode, String countryCode, String clientCode, String clientGroupCode, String channelCode, String clientUserId, String clientPassword) throws ApiException {
        ApiResponse<CreateItemResp> resp = itemsPostWithHttpInfo(body, entityId, clientURN, applianceToken, systemCode, countryCode, clientCode, clientGroupCode, channelCode, clientUserId, clientPassword);
        return resp.getData();
    }

    /**
     * 
     * creates Item
     * @param body  (required)
     * @param entityId description of parameter passed (required)
     * @param clientURN description of parameter passed (required)
     * @param applianceToken description of parameter passed (required)
     * @param systemCode description of parameter passed (required)
     * @param countryCode description of parameter passed (required)
     * @param clientCode description of parameter passed (required)
     * @param clientGroupCode description of parameter passed (required)
     * @param channelCode description of parameter passed (required)
     * @param clientUserId description of parameter passed (required)
     * @param clientPassword description of parameter passed (required)
     * @return ApiResponse&lt;CreateItemResp&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<CreateItemResp> itemsPostWithHttpInfo(CreateItemReq body, String entityId, String clientURN, String applianceToken, String systemCode, String countryCode, String clientCode, String clientGroupCode, String channelCode, String clientUserId, String clientPassword) throws ApiException {
        com.squareup.okhttp.Call call = itemsPostValidateBeforeCall(body, entityId, clientURN, applianceToken, systemCode, countryCode, clientCode, clientGroupCode, channelCode, clientUserId, clientPassword, null, null);
        Type localVarReturnType = new TypeToken<CreateItemResp>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * creates Item
     * @param body  (required)
     * @param entityId description of parameter passed (required)
     * @param clientURN description of parameter passed (required)
     * @param applianceToken description of parameter passed (required)
     * @param systemCode description of parameter passed (required)
     * @param countryCode description of parameter passed (required)
     * @param clientCode description of parameter passed (required)
     * @param clientGroupCode description of parameter passed (required)
     * @param channelCode description of parameter passed (required)
     * @param clientUserId description of parameter passed (required)
     * @param clientPassword description of parameter passed (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call itemsPostAsync(CreateItemReq body, String entityId, String clientURN, String applianceToken, String systemCode, String countryCode, String clientCode, String clientGroupCode, String channelCode, String clientUserId, String clientPassword, final ApiCallback<CreateItemResp> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = itemsPostValidateBeforeCall(body, entityId, clientURN, applianceToken, systemCode, countryCode, clientCode, clientGroupCode, channelCode, clientUserId, clientPassword, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<CreateItemResp>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
